<navbar></navbar>
<div class="container">
        <div class="row">
        <h2 class="text-center">Notifications</h2>
        <ul class="notifications">
            <li class="notification" *ngFor="let notification of notifications">
                <div class="media">
                <div class="media-left">
                </div>
                <div class="media-body">
                    <strong class="notification-title" *ngIf="notification.type == 1" >Demande d'échange</strong>
                    <strong class="notification-title" *ngIf="notification.type != 1" >Réponse à votre demande</strong>
                    <p class="notification-desc">{{notification.message}}</p>
                    <div *ngIf="notification.type == 1">
                        <div *ngIf="notification.statut == 0">
                            <button class="btn" (click)="refuse(notification)" >Refuser</button>
                            <button class="btn btn-success" (click)="accept(notification)" >Accepter</button>
                        </div>
                        <div *ngIf="notification.statut != 0">
                                <button class="btn" disabled>Répondu</button>
                        </div>
                    </div>
                    <div class="notification-meta">
                    <small class="timestamp">{{notification.date | date}}</small>
                    </div>
                </div>
                </div>
            </li>

        </ul>
  </div>
</div>