:host{display:block;padding:0 16px}h2{font-size:20px;font-weight:500;letter-spacing:.005em;margin-bottom:0;margin-top:.83em}.jumbotron{background:#e7dddd;background:rgba(231,219,219,.5)}.jumbotron p{margin-bottom:15px;font-size:32px;font-weight:200}