<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container"> 
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home">GamesXchange</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li *ngIf="!isLogged" class="active"><a routerLink="/home">Accueil</a></li>
          <li><a routerLink="/about">A propos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="logged"><a [routerLink]="['/users',user.id,'notification']" ><span class="glyphicon glyphicon-bell"></span><span class="badge">{{nbNotifications}}</span></a>
            <li *ngIf="logged"><a href="messages" ><span class="glyphicon glyphicon-comment"></span><span class="badge">{{nbMessages}}</span></a>
            </li>          
            <li *ngIf="!logged"><a routerLink="/signup" routerLinkActive="active">Inscription</a></li>
            <li *ngIf="!logged" ><a href="#" data-toggle="modal" data-target="#loginModal">Connexion</a></li>
            <li *ngIf="logged" class="dropdown">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 {{user.firstName}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a [routerLink]="['/users',user.id,'profile']">Mon profile</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a [routerLink]="['/users',user.id,'messages']">Messagerie</a></li>
                  <li role="separator" class="divider"></li> 
                  <li><a [routerLink]="['/users',user.id,'games']">Mes jeux</a></li>
                  <li role="separator" class="divider"></li> 
                  <li><a [routerLink]="['/users',user.id,'historique']">Historique</a></li>
                  <li role="separator" class="divider"></li> 
                  <li><a href="#" (click)="logOut()" >Déconnexion</a></li>
                </ul>
              </li>            
          </ul>
          <form class="navbar-form navbar-right inline-form">
              <div *ngIf="logged" class="input-group" id ="search">
                  <ng2-completer [(ngModel)]="searchStr"  
                  [inputClass]="['form-control']"
                  [ngModelOptions]="{standalone: true}"
                  placeholder="echanger...."
                  [datasource]="dataService"
                  [minSearchLength]="3"
                  (ngModelChange)="refreshData()"></ng2-completer>                
                  <div class="input-group-btn">
                    <button class="btn btn-default" (click)="searchForExchanging(searchStr)"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
              </div>
            </form>
  
      </div><!--/.nav-collapse -->
    </div>
  </nav>