<navbar-admin></navbar-admin>
<div class="container" *ngIf="games.length > 0">
    <div class="col-xs-8">
            <div class="col-xs-6" *ngFor="let gameUsers of games" >
                    <div class="thumbnail">
                        <img *ngIf="gameUsers.image" src="http:{{gameUsers.image}}">
                        <img *ngIf="!gameUsers.image" src="https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
                        <div class="caption">
                          <h4>{{gameUsers.title}}</h4>
                          <h4>{{gameUsers.dateRelease | date}}</h4>
                          <h4>{{gameUsers.platform}}</h4>
                          <p>{{gameUsers.overview | truncate : 50 : true}}</p>
                        </div>
                        <div class="space-ten"></div>
                        <div class="btn-ground text-center">
                            <button type="button" (click)="detail(gameUsers)"class="btn btn-primary" data-toggle="modal" data-target="#product_view"><i class="fa fa-search"></i>Détails</button>                            
                        </div>
                        <div class="space-ten"></div>
                    </div>
             </div>
                
                


                <div class="modal fade product_view" id="product_view">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                <h3 class="modal-title"> </h3>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4 product_img">
                                        <img id= "image"  class="img-responsive">
                                         <br/>
                                         <a [routerLink]="['/admin',idAdmin,'games',idGame,'users']" id="users" (click)="hidenMoal()" ></a>
                                    </div>
                                    <div class="col-md-8 product_content">
                                        <p id="summary"></p>                                
                                        <div class="space-ten"></div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8 alert alert-danger has-center" *ngIf="games.length == 0"><h1>La liste est vide </h1></div>
        