a.list-group-item {
  height:auto;
  min-height:220px;
}
a.list-group-item.active small {
  color:#fff;
}
.img-responsive{
  height: 150px;
}
#change{
  margin-top: 10px;
}
button, input, optgroup, select, textarea {
  margin: 0px;
  font: inherit;
}
.message{
  margin-top: 20px;
  
}
.form-control{
  width: 50%;
}

.toast-top-right {
  top: 40px;
  right: 12px;
}