
<div class="main_section">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
    	 <div class="row">
            <div id="custom-search-input">
               <div class="input-group col-md-12">
                  <input type="text" class="  search-query form-control" placeholder="Conversation" />
                  <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                  </button>
               </div>
            </div>
            <div class="dropdown all_conversation">
               <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-weixin" aria-hidden="true"></i>
               Toutes les conversations
               <span class="caret pull-right"></span>
               </button>
            </div>
            <div class="member_list">
               <ul class="list-unstyled">
                  <li (click)="getMessages(conversation.id)" class="left clearfix" *ngFor="let conversation of conversations">
                     <span class="chat-img pull-left">
                     <img src="http://localhost:8080/DarProject/img/{{conversation.urlPicture}}" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font">{{conversation.lastName}} {{conversation.firstName}}</strong>
                        </div>
                        <div class="contact_sec">
                           <span class="badge pull-right">{{conversation.count}}</span>
                        </div>
                     </div>
                  </li>
               </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->
		 
		 
         <div class="col-sm-9 message_section" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScroll()">
		 <div class="row">
		 
		 <div class="chat_area">
		 <ul class="list-unstyled">
        <li class="left clearfix" *ngFor="let message of messages" [ngClass]="{'admin_chat': message.id_sender==user.id}">
                <span class="chat-img1 pull-right" *ngIf="message.id_sender == user.id">
                        <img src="http://localhost:8080/DarProject/img/{{message.url_picture}}" alt="User Avatar" class="img-circle">
                </span>
                <span class="chat-img1 pull-left" *ngIf="message.id_sender != user.id">
                        <img src="http://localhost:8080/DarProject/img/{{message.url_picture}}" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body1 clearfix">
                           <p>{{message.message}}</p>
                           <div class="chat_time " [ngClass]="message.id_sender==user.id ?'pull-left':'pull-right'" >
                               {{message.date | date}}
                            </div>
                </div>
        </li>
        
		 </ul>
		 </div><!--chat_area-->
          <div class="message_write">
    	 <textarea class="form-control" [(ngModel)]="messageText" placeholder="type a message"></textarea>
		 <div class="clearfix"></div>
		 <div class="chat_bottom">
            <a (click)="sendMessage()" class="pull-right btn btn-success">Send</a>
        </div>
		 </div>
		 </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>