.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown ul a:hover {
  color : blue;
}

.navbar-default {
  background-color: #69899f;
  border-color: #425766;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #69899f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #69899f;
}
.badge{
  background-color: #6D0C0C;
}



#wrapper {
  height: 100%;
  position : fixed;
  margin-left:-26px;
}

#sidebar-wrapper {
  width: 200px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}



#sidebar_menu li a, .sidebar-nav li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: .7;
}

.sidebar-nav li {
line-height: 40px;
text-indent: 20px;
}



.sidebar-nav li a:hover {
color: #fff;
background: rgba(255,255,255,0.2);
text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
line-height: 60px;
font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}



#main_icon
{
  float:right;
 padding-right: 25px;
 padding-top:20px;
}
.sub_icon
{
  float:right;
 padding-right: 25px;
 padding-top:10px;
}
.content-header {
height: 65px;
line-height: 65px;
}

.content-header h1 {
margin: 0;
margin-left: 20px;
line-height: 65px;
display: inline-block;
}

@media (max-width:767px) {
#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  margin-left:10px;
  min-width: 250px;
}

#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
  width: 250px;
  transition: all .4s ease 0s;
}
}

#sidebar-wrapper {
  width: 250px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
}

.sidebar-nav{
  display: block;
  float: left;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}


#sidebar_menu li a, .sidebar-nav li a{
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 250px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  transition: background .5s;
}

.navbar-default,.navbar-default .navbar-nav>li>.dropdown-menu{background-color:#69899f}.dropdown-menu li:hover .sub-menu{visibility:visible}.dropdown:hover .dropdown-menu{display:block}.dropdown ul a:hover{color:#00f}.navbar-default{border-color:#425766}.navbar-default .navbar-nav>li>.dropdown-menu>li>a{color:#d7e2e9}.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus,.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover{color:#e5dbdb;background-color:#425766}.navbar-default .navbar-nav>li>.dropdown-menu>li>.divider{background-color:#69899f}.badge{background-color:#6D0C0C}:host>>>#search .form-control{height:30px}:host /deep/ .completer-input{width:100%}:host>>>.completer-dropdown{margin-top:35px!important;width:90%!important;max-width:515px;overflow-y:auto;overflow-x:hidden;max-height:100px;color:red}:host>>>.completer-row{display:inherit}:host>>>.completer-selected-row{background-color:#add8e6;color:#ff0}:host>>>.completer-row p{position:relative;top:50%;transform:translateY(50%)}.btn-custom{min-width:100%}



