<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container"> 
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/home">GamesXchange</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li *ngIf="!isLogged" class="active"><a routerLink="/home">Accueil</a></li>
          <li><a routerLink="/about">A propos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="logged"><a [routerLink]="['/admin',admin.id,'messages']" ><span class="glyphicon glyphicon-comment"></span><span class="badge">{{nbMessages}}</span></a>
            </li>          
            <li *ngIf="logged" class="dropdown">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 Admin
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li role="separator" class="divider"></li>
                  <li><a [routerLink]="['/admin',admin.id,'messages']">Messagerie</a></li>
                  <li role="separator" class="divider"></li> 
                  <li><a [routerLink]="['/admin',admin.id,'parameters']">Parametre</a></li>
                  <li role="separator" class="divider"></li>  
                  <li><a href="#" (click)="logOut()" >Déconnexion</a></li>
                </ul>
              </li>            
          </ul>
  
      </div><!--/.nav-collapse -->
    </div>
  </nav>
<!-- nabar vertical-->
<div class="col-xs-3 col-xs-pull-1">
  <div id="wrapper" class="active ">  
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
          <li class="sidebar-brand"><a id="menu-toggle">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">
            <li><a [routerLink]="['/admin',admin.id,'messages']">Messages</a></li>
          <li><a [routerLink]="['/admin',admin.id,'users']">Utilisateurs</a></li>
          <li><a [routerLink]="['/admin',admin.id,'games']">Jeux</a></li>
         <!-- <li><a [routerLink]="['/admin',admin.id,'statistics']">Statistiques</a></li>-->
          <li><a [routerLink]="['/admin',admin.id,'parameters']">Parametres</a></li>
        </ul>
      </div>
  </div>
</div>